body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background: url('https://img1.akspic.ru/previews/2/7/1/6/6/166172/166172-macos_12_monterey_official_stock_wallpaper_6k_resolution_dark-x750.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Устанавливаем белый цвет текста */
}

.upload-header {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 60px;
}

h2 {
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    margin-top: 20px;
}

label {
    margin-left: 20px; /* Отступ между заголовком и текстом */
    margin-top: 47px;
    font-size: 20px;
}

input {
    margin-top: 47px;
}

input[type="file"] {
    padding: 10px 15px;
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="file"]:active,
.upload-button:active {
    transform: scale(0.97); /* Уменьшаем размер кнопки на 5% при нажатии */
}

input[type="file"]:active {
    transform: scale(0.98); /* Уменьшаем размер кнопки на 5% при нажатии */
}

.upload-button {
    padding: 10px 15px;
    background-color: #008CBA; /* Голубой цвет фона */
    color: white; /* Белый цвет текста */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.upload-container {
    display: flex;
    align-items: center;
}

.upload-button {
    margin-left: 10px; /* Отступ кнопки от поля выбора файла */
}

.file-container {
    position: relative;
    padding-top: 20px;
    flex: 0.92; /* Растягиваем контейнер до конца страницы */
    width: 55%;
    margin: 20px auto;
    border: 2px solid white; /* Белая обводка */
    border-radius: 10px;
    overflow-y: auto; /* Добавляем прокрутку по вертикали */
    box-shadow: 2px 2px 5px 2px white; /* Добавляем тень */
}


.file-list {
    list-style-type: none;
    padding: 0;
}

.file-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-input:focus {
    border: 3px solid #a6f2ff; /* Голубая обводка при фокусе */
    outline: none;
}

.search-input {
    border-radius: 10px;
    height: 25px;
    outline: none;
    border: 3px solid #a6f2ff; /* Голубая обводка при фокусе */
    padding-left: 5px;
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
}

.delete-all-button {
    margin-left: 423px;
    width: 160px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    border: 3px solid #a6f2ff;
}

.delete-all-button:active {
    transform: scale(0.98); /* Уменьшаем размер кнопки на 5% при нажатии */
}
a {
    color: white; /* Изменение цвета ссылок на белый */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении на ссылку */
}